body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.groupContainer {
    border:solid 2px #4c84af;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

label {
    margin-right: 10px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    width: 50%;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.fieldAddButton {
    background-color: #4c84af;
    padding: 5px;
    border-radius: 5px;
}