#header-title {
  font-family:'Microsoft JhengHei';
  font-size: 24px;
  color: white;
}

#input-container {
  padding: 10px;
  width: 100%;
}

#descriptContainer {
  border: solid 2px black;
  padding-top: 30px;
  height:fit-content;
}

.commandContainer {
  border: solid 2px #4c84af;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  margin-bottom: 15px;
}

.errorMessageContainer {
  border: none 2px crimson;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  text-align: left;
  position: relative;
  margin-bottom: 15px;
}

.fileInputLabel {
  border-radius: 5px;
  background-color: lightcoral;
  color: aliceblue;
  font-weight: bolder;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.fileInput {
  visibility: hidden;
  width: 0px;
  height: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.upload-button-container {
  margin-bottom: 15px;
}

#download-button {
  border-radius: 5px;
  color: aliceblue;
  font-weight: bolder;
  font-size: 15px;
  padding: 10px;
  border: none;
  background-color:#dbdbdb;
}

#download-button.active {
  background-color: #4CAF50;
}

#download-button.inactive {
  background-color:#dbdbdb;
}

.command-list {
  counter-reset: li;
  list-style: none;
}

.command-list:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: 0;
    width: 2em; /* 调整编号的宽度 */
    text-align: right;
    margin-right: 0.5em;
}

.command {
  position: relative;
  font-family: Consolas;
  color: black;
  text-align: left;
  margin: 5px;
  font-family: Consolas;
  white-space: pre;
  overflow-x: scroll;
}

.command-ignored {
  text-decoration: line-through;
}

.command-error {
  color: crimson;
}

.pointerover-command {
  border-radius: 5px;
  background-color: rgb(194, 230, 241);
}

.warning-message {
  color: orange;
}

.error-message {
  color: crimson;
}

.invisible {
  visibility: hidden;
}

.mt-100{
  margin-top: 100px;
}

.nav-item .nav-link {
  color: darkslateblue;
}

.nav-item .nav-link.active {
  background-color:darkslateblue;
  color: white;
}

.nav-tabs {
  --bs-nav-tabs-border-color:black
}

.list-text {
  margin-top: 10px;
}

#top-button-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: solid 0px black;
}

#top-button {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.nav-link.header-bar {
  color:#fff
}

#download-example-button {
  border: solid 2px white;
  border-radius: 10px;
}