button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

li {
  font-family: Consolas;
}

#input-container {
  padding: 10px;
  width: 100%;
}

.warningContainer {
  border: none 2px orange;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  text-align: left;
  position: relative;
  margin-bottom: 15px;
}

.commandContainer {
  border: solid 2px #4c84af;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  margin-bottom: 15px;
}

.errorMessageContainer {
  border: none 2px crimson;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  text-align: left;
  position: relative;
  margin-bottom: 15px;
}

.fileInputLabel {
  border-radius: 5px;
  background-color: lightcoral;
  color: aliceblue;
  font-weight: bolder;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.fileInput {
  visibility: hidden;
  width: 0px;
  height: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.upload-button-container {
  margin-bottom: 15px;
}

.downloadButton {
  margin: 10px;
  border-radius: 5px;
  color: aliceblue;
  font-weight: bolder;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.command {
  color: black;
  text-align: left;
  margin: 5px;
  font-family: Consolas;
}

.command-ignored {
  text-decoration: line-through;
}

.command-error {
  color: crimson;
}

.pointerover-command {
  border-radius: 5px;
  background-color: rgb(194, 230, 241);
}

.warning-message {
  color: orange;
}

.error-message {
  color: crimson;
}

.nav-item {
  margin: 20px;
}

.nav-link {
  font-size: 24px;
  min-width: 200px;
  border-width: 1px;
  border-color: dimgrey;
  border-style: solid;
}

.invisible {
  visibility: hidden;
}